@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 100px;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #add-button {
    text-align: center;
    margin: 0 auto;
  }

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: white;
  }

  #cards {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 200px;
      margin: 5px;
    }
  }
}
